name: Build CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          # GLFW builds
          - os: ubuntu-latest
            c_compiler: gcc
            cpp_compiler: g++
            build_type: Release
            build_backend: GLFW
            cmake_flags: -DBUILD_FOR_GLFW=ON
          - os: windows-latest
            c_compiler: cl
            cpp_compiler: cl
            build_type: Release
            build_backend: GLFW
            cmake_flags: -DBUILD_FOR_GLFW=ON
          - os: macos-latest
            c_compiler: clang
            cpp_compiler: clang++
            build_type: Release
            build_backend: GLFW
            cmake_flags: -DBUILD_FOR_GLFW=ON
          # OpenXR builds
          - os: ubuntu-latest
            c_compiler: gcc
            cpp_compiler: g++
            build_type: Release
            build_backend: OpenXR
            cmake_flags: -DBUILD_FOR_OPENXR=ON
          - os: windows-latest
            c_compiler: cl
            cpp_compiler: cl
            build_type: Release
            build_backend: OpenXR
            cmake_flags: -DBUILD_FOR_OPENXR=ON
          - os: macos-latest
            c_compiler: clang
            cpp_compiler: clang++
            build_type: Release
            build_backend: OpenXR
            cmake_flags: -DBUILD_FOR_OPENXR=ON
    steps:
      - name: Install Ubuntu dependencies
        if: matrix.os == 'ubuntu-latest'
        run: |
            sudo apt-get update
            sudo apt-get install -y build-essential git make pkg-config cmake ninja-build gnome-desktop-testing libasound2-dev libpulse-dev libaudio-dev libfribidi-dev libjack-dev libsndio-dev libx11-dev libxext-dev libxrandr-dev libxcursor-dev libxfixes-dev libxi-dev libxss-dev libxtst-dev libxkbcommon-dev libdrm-dev libgbm-dev libgl1-mesa-dev libgles2-mesa-dev libegl1-mesa-dev libdbus-1-dev libibus-1.0-dev libudev-dev libpipewire-0.3-dev libwayland-dev libdecor-0-dev liburing-dev libxinerama-dev vulkan vulkan-loader vulkan-memory-allocator vulkan-tools vulkan-utility-libraries vulkan-validationlayers vulkan-volk

      - name: Install Windows dependencies
        if: matrix.os == 'windows-latest'
        run: |
            choco install -y  vulkan-sdk

      - name: Install macOS dependencies
        if: matrix.os == 'macos-latest'
        run: |
            brew update
            brew install vulkan-extensionlayer vulkan-loader vulkan-tools vulkan-validationlayers vulkan-headers vulkan-profiles vulkan-utility-libraries vulkan-volk

      - name: Setup JAVA for OpenXR
        if: matrix.build_backend == 'OpenXR'
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Checkout
        uses: actions/checkout@v5.0.0

      - name: Set reusable strings
        id: strings
        shell: bash
        run: |
          echo "build-output-dir=${{ github.workspace }}/build" >> "$GITHUB_OUTPUT"

      - name: Configure CMake
        run: >
          cmake
          -B ${{ steps.strings.outputs.build-output-dir }}
          -DCMAKE_C_COMPILER=${{ matrix.c_compiler }}
          -DCMAKE_CXX_COMPILER=${{ matrix.cpp_compiler }}
          -DCMAKE_BUILD_TYPE=${{ matrix.build_type }}
          -DBUILD_TESTS=ON
          ${{ matrix.cmake_flags }}
          -S ${{ github.workspace }}

      - name: Build
        run: >
          cmake
          --build ${{ steps.strings.outputs.build-output-dir }}
          --config ${{ matrix.build_type }}

      - name: Test
        working-directory: ${{ steps.strings.outputs.build-output-dir }}/tests
        run: >
          ctest
          --build-config ${{ matrix.build_type }}
